NODE_ENV=development
DB=postgres
DB_USERNAME=replace_me_with_the_db_username
DB_PASSWORD=replace_me_with_the_db_password
DB_HOST=replace_me_with_db_url
DB_PORT=5432
DB_DATABASE=replace_me_with_database_name